{% extends 'base.html.twig' %}

{% block title %}BLOG | LA SALADE BRUNE{% endblock %}

{% block body %}

<!-- Main Content
================================================== -->
<main id="mainContent">
    <div class="sidebar-overlay"></div>

    <!-- Site Header
    ================================================== -->
    <header id="header" class="site_header section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="entry_header">
                        <h1 class="mb-20">Hi there, I'm Lou. M</h1>
                        <div class="author_avatar mb-20">
                            <div class="avatar">
                                <img src="{{ asset('img/authors/1.jpg') }}" alt="">
                            </div>

                            <span class="author-url">
                                    <i class="fas fa-share-alt open"></i>
                                    <i class="fas fa-times " style="display: none"></i>
                                </span>

                        </div>

                        <br>

                        <div class="scoial-icon mb-20">
                            <a href="#0"><span><i class="fab fa-facebook-f"></i></span></a>
                            <a href="#0"><span><i class="fab fa-twitter"></i></span></a>
                            <a href="#0"><span><i class="fab fa-linkedin-in"></i></span></a>
                            <a href="#0"><span><i class="fab fa-instagram"></i></span></a>
                            <a href="#0"><span><i class="fab fa-behance"></i></span></a>
                        </div>

                        <p>I’m a Freelance Interactive Art Director based in France. Focusing across branding and
                            identity, digital and print.</p>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- End Site Header
    ================================================== -->

    {% include 'menu/menu.html.twig' %}

    <div id="content_full" class="section-padding">
        <div class="container">
            <div class="row sticky-container">

                <!-- latest-posts -->
                <div class="col-lg-8 content">
                    <div id="content" class="latest-posts">
                        {% for article in articles %}
                        <article class="post">
                            <div class="post_banner">
                                <div class="gallery_image_1">
                                    <a href="#">
                                        <img src="{{ asset('img/posts/p1.jpg') }}" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="post_body">
                                <div class="post_meta">
                                        <span class="post_meta_item post_author">
                                            <a href="#">
                                                <span class="post_author_img">
                                                    <img src="{{ asset('img/posts/p1.jpg') }}" alt="">
                                                </span>
                                                <span class="post_author_info">by : {{ article.author }} </span>
                                            </a>

                                        </span>

                                    <a href="#">
                                        <span class="post_meta_item post_cat">life</span>
                                    </a>


                                    <a href="#">
                                        <span class="post_meta_item meta_item_date">{{ article.date ? article.date|date('d.m.Y') : '' }}</span>
                                    </a>
                                </div>

                                <div class="post_header">
                                    <h3><a href="#">{{ article.title }}</a></h3>
                                </div>

                                <div class="post_info_wrapper">
                                    <p>{{ article.content }}.</p>
                                </div>

                                <div class="post_bottom_meta">
                                    <div class="half_width">
                                            <span class="meta meta_comment">
                                                <a href="#"><span class="jam jam-message"></span> 3 Comments</a>
                                            </span>

                                        <div class="post_more">
                                            <a href="#">
                                                <span class="icon1">Load More</span>
                                                <span class="icon2 jam jam-arrow-right"></span>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="half_width">
                                        <div class="socials-wrap">
                                            <div class="socials-icon"><i class="fa fa-share-alt" aria-hidden="true"></i>
                                            </div>
                                            <div class="socials-text">Post share</div>
                                            <ul class="socials">
                                                <li><a href="#" target="_blank"><span class="jam jam-facebook"></span></a></li>
                                                <li><a href="#" target="_blank"><span class="jam jam-twitter"></span></a></li>
                                                <li><a href="#" target="_blank"><span class="jam jam-google-plus"></span></a></li>
                                                <li><a href="#" target="_blank"><span class="jam jam-pinterest"></span></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </article>
                        {% else %}
                            <tr>
                                <td colspan="8">no records found</td>
                            </tr>
                        {% endfor %}

                    </div>
                </div>
                <!-- Side Bar -->
                <div class="col-lg-4">
                    <div id="sidebar" class="sidebar light-sidebar">
                        <div class="sidebar__inner">
                            <div class="sidbar_w">
                                <div class="widget_area area_about">
                                    <div class="about">
                                        <h3 class="widget_title">
                                            <span>About Me</span>
                                        </h3>
                                        <img src="{{ asset('img/authors/1.jpg') }}" alt="">
                                        <p>Schlitz knausgad occupy master clnse normcore health goth. Coloring book
                                            i
                                            street, art umami pok biosel brunch cloud bread.</p>
                                        <img src="{{ asset('img/sign-about-1.png') }}" class="sign-about" alt="">
                                    </div>
                                </div>

                                <div class="widget_area recent_posts">
                                    <h3 class="widget_title">
                                        <span>Recent Posts</span>
                                    </h3>

                                    <article class="recent_post">
                                        <div class="post-media">
                                            <a href="#">
                                                <img src="assets/img/1-min.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="post_info">
                                            <p>
                                                <a href="#">Hairstyles</a>
                                            </p>
                                            <h5>
                                                <a href="#">6 Hairstyle Ideas for Instant Refresh Look</a>
                                            </h5>
                                        </div>
                                    </article>

                                    <article class="recent_post">
                                        <div class="post-media">
                                            <a href="#">
                                                <img src="assets/img/2-min.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="post_info">
                                            <p>
                                                <a href="#">Hairstyles</a>
                                            </p>
                                            <h5>
                                                <a href="#">6 Hairstyle Ideas for Instant Refresh Look</a>
                                            </h5>
                                        </div>
                                    </article>

                                    <article class="recent_post">
                                        <div class="post-media">
                                            <a href="#">
                                                <img src="assets/img/3-min.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="post_info">
                                            <p>
                                                <a href="#">Hairstyles</a>
                                            </p>
                                            <h5>
                                                <a href="#">6 Hairstyle Ideas for Instant Refresh Look</a>
                                            </h5>
                                        </div>
                                    </article>

                                </div>

                                <div class="widget_area social_icons_area">
                                    <h3 class="widget_title">
                                        <span>Follow Me</span>
                                    </h3>

                                    <div class="scoial-icon">
                                        <a href="#0"><span><i class="fab fa-facebook-f"></i></span></a>
                                        <a href="#0"><span><i class="fab fa-twitter"></i></span></a>
                                        <a href="#0"><span><i class="fab fa-linkedin-in"></i></span></a>
                                        <a href="#0"><span><i class="fab fa-instagram"></i></span></a>
                                        <a href="#0"><span><i class="fab fa-behance"></i></span></a>
                                    </div>
                                </div>

                                <div class="widget_area instagram_feed">
                                    <h3 class="widget_title">
                                        <span>instagram</span>
                                    </h3>

                                    <ul class="instagram_pics">
                                        <li>
                                            <a href="#">
                                                <img src="assets/img/instagram/1.jpg" alt="">
                                                <div class="instagram-overlay">
                                                    <div class="instagram-meta">
                                                        <div>
                                                                <span class="instagram-likes"><i class="fas fa-heart"></i>
                                                                    1</span>
                                                            <span class="instagram-comments"><i class="far fa-comments"></i>
                                                                    3</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#">
                                                <img src="assets/img/instagram/2.jpg" alt="">
                                                <div class="instagram-overlay">
                                                    <div class="instagram-meta">
                                                        <div>
                                                                <span class="instagram-likes"><i class="fas fa-heart"></i>
                                                                    1</span>
                                                            <span class="instagram-comments"><i class="far fa-comments"></i>
                                                                    3</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#">
                                                <img src="assets/img/instagram/3.jpg" alt="">
                                                <div class="instagram-overlay">
                                                    <div class="instagram-meta">
                                                        <div>
                                                                <span class="instagram-likes"><i class="fas fa-heart"></i>
                                                                    1</span>
                                                            <span class="instagram-comments"><i class="far fa-comments"></i>
                                                                    3</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#">
                                                <img src="assets/img/instagram/4.jpg" alt="">
                                                <div class="instagram-overlay">
                                                    <div class="instagram-meta">
                                                        <div>
                                                                <span class="instagram-likes"><i class="fas fa-heart"></i>
                                                                    1</span>
                                                            <span class="instagram-comments"><i class="far fa-comments"></i>
                                                                    3</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="widget_area widget_newslleter">
                                    <h3 class="widget_title">
                                        <span>Subscribe</span>
                                    </h3>

                                    <form action="#" method="post">
                                        <input placeholder="Your Email Address" type="text">
                                        <button class="btn" type="submit" name="submit">Sign Up</button>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- End Side Bar -->
            </div>
        </div>
    </div>
    <!-- footer
        ================================================== -->
    <footer class="footer">
        <div id="footer_instagram">
            <h2 class="widget_title">ogato @ Instagram</h2>
            <div class="footer_instagram">
                <ul class="instagram_pics">
                    <li>
                        <a href="#">
                            <img src="assets/img/instagram/1lg.jpg" alt="">
                            <div class="instagram-overlay"></div>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <img src="assets/img/instagram/2lg.jpg" alt="">
                            <div class="instagram-overlay"></div>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <img src="assets/img/instagram/3lg.jpg" alt="">
                            <div class="instagram-overlay"></div>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <img src="assets/img/instagram/4lg.jpg" alt="">
                            <div class="instagram-overlay"></div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="assets/img/instagram/5lg.jpg" alt="">
                            <div class="instagram-overlay"></div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="assets/img/instagram/6lg.jpg" alt="">
                            <div class="instagram-overlay"></div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="footer_bottom section-padding text-center">
            <div class="container">
                <div class="row">
                    <div class="col-12">

                        <a href="#" class="footer_logo">
                            <img src="assets/img/logo-light.png" alt="">
                        </a>

                        <div class="box_scoial_icon">
                            <div class="scoial-icon">
                                <a href="#0">
                                    <i class="fab fa-facebook-f"></i>
                                    <span>Facebook</span>
                                </a>

                                <a href="#0">
                                    <i class="fab fa-twitter"></i>
                                    <span>twitter</span>
                                </a>

                                <a href="#0">
                                    <i class="fab fa-instagram"></i>
                                    <span>instagram</span>
                                </a>

                            </div>
                        </div>

                        <div class="newsletter">
                            <h4>Sign up for our weekly newsletter</h4>

                            <div>
                                <form action="#" method="post">
                                    <div class="newsletter_info"></div>
                                    <input placeholder="Your Email Address" type="text" class="email">
                                    <button class="btn" type="submit" name="submit">Sign Up</button>
                                </form>
                            </div>
                        </div>

                        <div class="to_top">
                            <a href="#header"></a>
                            <div class="icon-circle"></div>
                            <div id="to-top">
                                <i class="fas fa-angle-up"></i>
                            </div>
                        </div>

                        <div class="disclaimer">
                            <p>© 2018 <a href="#">Design Grid</a>. All Rights Reserved.</p>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End footer
    ================================================== -->


</main>

{% endblock %}
