<!-- Nav Bar
        ================================================== -->
<div class="header-controller text-center">
    <div class="container">
        <nav id="nav" class="navbar navbar-expand-lg nav-overlay">
            <a class="navbar-brand" href="#">
                <img src="{{ asset('img/logo-dark.png') }}" alt="logo" class="logo-1">
            </a>

            <div class="collapse navbar-collapse ">
                <ul class="navbar-nav ml-auto">
                        {% if app.user %}
                    <li class="dropdown nav-item"><a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle"  href="{{ path('app_logout') }}"> Deconnexion </a></li>
                    <li class="dropdown nav-item"><a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle"  href="{{ path('article_new') }}"> Nouvel article </a></li>
                    {% else %}
                    <li class="dropdown nav-item"><a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle" href="{{ path('app_login') }}"> Connexion</a></li>
                        <li class="dropdown nav-item"><a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle" href="{{ path('app_register') }}"> Inscription </a></li>
                    {% endif %}

                </ul>
            </div>

            <div class="search_trigger">
                <a class="nav-search search-trigger" href="#"><span class="jam jam-search"></span></a>

                <button class="icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
        </nav>


    </div>
</div>

<div class="search-wrap">
    <div class="search-inner">
        <div class="search-cell">
            <form method="get">
                <div class="search-field-holder">
                    <input type="search" class="form-control main-search-input" placeholder="search">
                </div>
            </form>
        </div>
        <span class="icon-close jam jam-close open" id="search-close"></span>
    </div>

</div>
<!-- End Nav Bar
================================================== -->